###################### Filebeat Configuration #########################
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/filebeat/index.html
###########################################################################


#=========================== Filebeat inputs =============================

filebeat.inputs:
#------------------------------ Log input --------------------------------
- type: log
  enabled: true
  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - /var/log/gitlab/consul/current
    - /var/log/gitlab/gitaly/current
    - /var/log/gitlab/gitlab-rails/current
    - /var/log/gitlab/gitlab-shell/current
    - /var/log/gitlab/redis/current
    - /var/log/gitlab/sidekiq/current
    - /var/log/gitlab/praefect/current

  exclude_files:
    - '.gz$'
  # Decode JSON options. Enable this if your logs are structured in JSON.
  # JSON key on which to apply the line filtering and multiline settings. This key
  # must be top level and its value must be string, otherwise it is ignored. If
  # no text key is defined, the line filtering and multiline features cannot be used.
  #json.message_key:

  # By default, the decoded JSON is placed under a "json" key in the output document.
  # If you enable this setting, the keys are copied top level in the output document.
  json.keys_under_root: false

  # If keys_under_root and this setting are enabled, then the values from the decoded
  # JSON object overwrite the fields that Filebeat normally adds (type, source, offset, etc.)
  # in case of conflicts.
  json.overwrite_keys: false

  # If this setting is enabled, then keys in the decoded JSON object will be recursively
  # de-dotted, and expanded into a hierarchical object structure.
  # For example, `{"a.b.c": 123}` would be expanded into `{"a":{"b":{"c":123}}}`.
  #json.expand_keys: false

  # If this setting is enabled, Filebeat adds a "error.message" and "error.key: json" key in case of JSON
  # unmarshaling errors or when a text key is defined in the configuration but cannot
  # be used.
  #json.add_error_key: false

  scan_frequency: 5s
  backoff: 1s
  max_backoff: 20s
{##}
{## filestream is an input for collecting log messages from files. It is going to replace log input in the future.#}
{#- type: filestream#}
{##}
{#  # Change to true to enable this input configuration.#}
{#  enabled: false#}
{##}
{#  # Paths that should be crawled and fetched. Glob based paths.#}
{#  paths:#}
{#    - /var/log/*.log#}

{% if monitoring.filebeat.inputs.docker is defined %}
#------------------------------ Docker input --------------------------------
- type: docker

  # This is the default location so probably not needed.
  path: "/var/lib/docker/containers"

{% if 'multiline' in monitoring.filebeat.inputs.docker and monitoring.filebeat.inputs.docker.multiline.pattern is defined %}
  # Tell it to join lines.
  multiline:
    match: after
    negate: true
    pattern: {{ monitoring.filebeat.inputs.docker.multiline.pattern }}
    # pattern: '!^[[:space:]]+x'
{% endif %}

  # Watch all containers
  containers.ids :
    - "*"

{% if monitoring.filebeat.inputs.docker.exclude_lines is defined %}
  exclude_lines: [
    '{{ monitoring.filebeat.inputs.docker.exclude_lines  | join("', '") }}'
  ]
{% endif %}
  # Combine partial lines flagged by `json-file` format
  combine_partials: true

  processors:
    - add_docker_metadata: ~
    - add_locale.format: offset

  # Dont flood us with json parsing errors:
  ignore_decoding_error: true
{% endif %}

{% if monitoring.filebeat.modules is defined %}
#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  enabled: true
  path: /etc/filebeat/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

{% endif %}


#================================ Outputs =====================================


output.elasticsearch:
  hosts: ["monorepo-perf-elastic-1:9200"]


{## ================================= Processors =================================#}
{#processors:#}
{#  - add_host_metadata:#}
{#      when.not.contains.tags: forwarded#}
{#  - add_cloud_metadata: ~#}
{#  - add_docker_metadata: ~#}
{#  - add_kubernetes_metadata: ~#}
setup.template.overwrite: true
#================================ Logging =====================================

# Sets log level. The default log level is info.
logging:
  # Available log levels are: critical, error, warning, info, debug
  level: debug
  to_syslog: false
  to_files: true
  files:
    path: /var/log/filebeat
    name: filebeat.log
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 5
  # At debug level, you can selectively enable logging only for some components.
  # To enable all selectors use ["*"]. Examples of other selectors are "beat",
  # "publish", "service".
  # Other available selectors are beat, publish, service
  selectors: [ "beat", "publish", "service"]
