geo_postgresql['enable'] = true

geo_postgresql['listen_address'] = '0.0.0.0'
geo_postgresql['sql_user_password'] = '{{ (postgres_password + 'gitlab_geo') | md5 }}'
geo_postgresql['md5_auth_cidr_addresses'] = {{ tracking_db_md5_auth }}

gitlab_rails['db_host'] = '0.0.0.0'