roles ['consul_role']

gitlab_rails['auto_migrate'] = false

consul['enable'] = true
consul['configuration'] = {
  server: true,
  retry_join: %w({{ consul_int_ips | join(' ') }}),
  bind_addr: '{{ ansible_default_ipv4.address }}'
}
consul['monitoring_service_discovery'] = true
node_exporter['listen_address'] = '0.0.0.0:9100'

# Enable Redis Sentinel if Redis is present but dedicated Sentinel nodes are not
{% if 'redis' in groups and (groups | select('match', '^redis_sentinel.*') | list | count == 0) %}
# Redis Sentinel
sentinel['enable'] = true
sentinel['bind'] = '0.0.0.0'
sentinel['quorum'] = 2

redis['master_name'] = 'gitlab-redis'
redis['master_ip'] = '{{ redis_primary_int_ip }}'
redis['master_password'] = '{{ redis_password }}'
redis['port'] = {{ redis_port }}
{% endif %}

confs = Dir.glob(File.join("/etc/gitlab/", "gitlab.*.rb"))
confs.each { |conf|
  from_file conf
}
